<form action="/tasks/add" method="POST">
  <div>
    <label for="title">Escribe un titulo para tú tarea</label>
    <input type="text" name="title" placeholder="Título tarea" id="title" />
  </div>
  <div>
    <label for="description">Escribe la descripción de la tarea:</label>
    <textarea
      name="description"
      placeholder="Descripción"
      id="description"
    ></textarea>
  </div>
  <button>Agregar</button>
</form>
