<div class="container-md mt-5">
  <form action="/edit/{{task._id}}" method="POST">
    <input
      class="form-control mb-3"
      type="text"
      name="title"
      placeholder="Título"
      value="{{task.title}}"
    />
    <textarea
      class="form-control"
      name="description"
      placeholder="Escriba una descripción de la tarea"
    >{{task.description}}</textarea>
    <button class="btn btn-outline-dark mt-2">Actualizar</button>
  </form>
</div>